
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color:#000000;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 4, 255);
    border-radius: 40px;
}


/* --------------------------------------------------  header*/
.contenedor{
    width: 90%;
    margin:auto;

}

header{
    padding: 37px 0;
    
}
header .contactoradius{
    background-color: rgb(0, 4, 255);
    border-radius: 30px;
    font-size: 1rem;
    padding: 1rem 1rem;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
}
header .contenedor{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
   max-width: 100%;

}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1rem;
}
header nav a:hover,
header nav a.activo {
    color: rgb(255, 255, 255);
}
.info{
    color: rgba(170, 170, 170, 0);
    text-decoration: none; 
}

 /*------------------Main--------------*/

.portada{
    height: auto;
    
   
}
 main{
    padding: 5px;
    

}

main .img-perfil{
    display: flex;
    max-width: 120%;
    justify-content: center;
    align-content: center;
    
}
.letrero { 
     
    flex-wrap: wrap;
    margin: auto; 
    align-items: center; 
    padding-left: 25px;
    
    
    
}

.san{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight:1000 ;
    font-size: 3.5rem;
    
    
}

.des{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 10px;
    text-align: left;
    
}
    


/*---------------- habilidades------------------------ */



.habild{
    height: auto;
    background: rgba(175, 58, 58, 0);
}

.habild h1{

    margin-bottom: 50px;
    
}
.habildletrero{
    position: relative;
    height: auto;
    text-align: center;
   
}
.habildletrero::after{
    position: absolute;
    content:"";
    width: 10rem;
    height: 15px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10px;
    background-color: #0400ff;
    border-radius: 15px;
    
}
.habildletrero h1{
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* ------------------habilidades blandas------------------------*/
.skills{
    padding: 5px;
    width:500px;
    display: block;
    margin:auto;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #ffffff;
}

.skills li{
    margin: 20px 0;
    display: flex;

    
}

.skills li img{
  margin-right: 10px;
}

.bar{
    background: #727c8d;
    display:block;
    height: 10px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    

}

.bar span{
    height: 10px;
    float:left;
    background:#0400ff;

}

.creatividad{
    width: 90%;
    animation: crea 10s;
}

.equipo{
    width: 80%;
    animation: equi 10s;
}

.innovacion{
    width: 90%;
    animation: inno 10s;
}

.liderazgo{
    width: 85%;
    animation: lide 10s;
}

.productividad{
    width: 82%;
    animation: produ 10s;
}

.fluidez{
    width: 75%;
    animation: flu 10s;
}

@keyframes crea {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes equi {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes inno {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes lide {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes produ {
    0%{
        width: 0%;
    }
    100%{
        width: 82%;
    }
}

@keyframes flu {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

/**/
.iconos1{
    max-width:8% ;
}

.skills li{
    margin-bottom:5px;
}

.skills h3  {
     margin-bottom:5px;
}
/*----------------------- HABILIDADES TECNICAS ----------------------*/
.ilustrador{
    width: 86%;
    animation: ilus 10s;
}

.premier{
    width: 90%;
    animation: prem 10s;
}

.photo{
    width: 80%;
    animation: photo 10s;
}

.html{
    width: 72%;
    animation: html 10s;
}

.css{
    width:72%;
    animation: css 10s;
}

.office{
    width: 90%;
    animation: off 10s;
}

@keyframes ilus {
    0%{
        width: 0%;
    }
    100%{
        width: 86%;
    }
}

@keyframes prem {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes photo {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}

@keyframes off {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}



/*------------ Formacion academica ------------*/
.academica{
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
}
.ft{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center; 
    font-weight: 900;  
    background-color: #0400ff00;  
}
  
.formacion{
    position: relative;
    color:#ffffff;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    

}
.formacion::after{
    position: absolute;
    content:"";
    width: 10rem;
    height: 15px;
    left: 0;
    right: auto;
    margin: auto;
    bottom: -60px;
    background-color: #0400ff;
    border-radius: 15px;
}

.cajacont{
    display: flex;
    width: 100%;    
    height: 600px;
    background: rgba(231, 66, 66, 0);
    align-items: center; 
    text-align: left;
   
      
}

.contenido{
  padding: 7rem;
  color:#ffffff;
  

}

.contenido h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.contenido p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 2rem;
}


/*------------------ DESCARGAR HOJA DE VIDA---------------------*/

.bottoncv{
   display: flex;
   background: #26ff0000;
   justify-content: center;
   text-align: center;
   margin: 50px;
   margin-top: 100px;
   
    
}

.cvdowland{
    display: flex;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 1.5em;
    padding: 1.3rem 2rem;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 950;
    border: none;
    cursor: pointer; 
    text-decoration: none;
}

.cvdowland:hover{
    background-color: #0400ff;
    color: #ffffff;
    text-decoration: none;
}



/* ------------------------------Fotter---------------------------------*/

.vidae{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#ffffff;
    text-align: center;
    align-content: flex-start;
    margin: 50px;
}

/*----- movil----*/
@media (max-width:700px){

main .img-perfil{
    max-width:80%;
    display: block;
    margin: auto;
    
    
}
.san{
    font-size:3rem;
    text-align: center;
}

.des{
    font-size:1.2rem ;
    padding: 0px 50px;
}
.habildletrero{
    position: relative;
    height: auto;
    text-align: center;
   
}
.habildletrero::after{
    position: absolute;
    content:"";
    width: 10rem;
    height: 15px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
    background-color: #0400ff;
    border-radius: 15px;
    
}
.habildletrero h1{
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
}

.skills1{
    
    font-size:25px;
    padding: 0px;
    margin:0px;

}
.academica{
    display: block;
    margin: auto;
}

.habild{
    display: block;
    margin: auto;
}
.skills{
    
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
    padding-right: 40px;
    
}
.iconos1{
    max-width:9% ;
   
}

.skills h3{
    font-size:20px;
    height: 90%;
}
.bar{
    height: 9px;
    width:auto;
    
}
.cajacont{
    padding-right: 100px;
}
.contenido{
    padding: 3rem;
   
    color:#ffffff;

  }
.contenido h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size:1.9rem ;
}

.contenido p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 1.7rem;
}
.ft{
    
}

.formacion{
    position: relative;
    height: auto;
    text-align: left;
    font-size: 35px;
    
    
}

.cvdowland{
font-size: 0.8em;
padding: 1.1rem 1.2rem;
border-radius:70px ;

}
}


